body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.99);

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  h2 {
    margin: 0;
    color: white;

    &:last-of-type {
      margin-top: 1rem;
      font-size: smaller;
    }
  }
}
